{% extends "superadmin_panel/base.html" %}

{% block title %}
افزودن جلسه
{% endblock %}

{% block content %}

<h2>افزودن جلسه برای {{ course.title }}</h2>

<form method="post">

    {% csrf_token %}

    <label>عنوان جلسه</label>

    <input
        type="text"
        name="title"
        required
    >

    <br><br>

    <label>ترتیب</label>

    <input
        type="number"
        name="order"
        value="1"
        required
    >

    <br><br>

    <button type="submit">

        ذخیره جلسه

    </button>

</form>

{% endblock %}