{% extends "superadmin_panel/base.html" %}

{% block title %}
ثبت آرایشگر
{% endblock %}

{% block content %}

<div class="barber-add-page">


<div class="barber-add-card">

    <div class="barber-add-header">

        <h2>
            ثبت آرایشگر
        </h2>

        <p>
            تنظیم اطلاعات و ساعات کاری آرایشگر
        </p>

    </div>


    <div class="barber-user-info">

        <p>
            <strong>نام آرایشگر:</strong>
            {{ user_obj.full_name }}
        </p>

        <p>
            <strong>شماره موبایل:</strong>
            {{ user_obj.phone }}
        </p>

    </div>


    <form method="POST" class="barber-add-form">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="barber-add-actions">

            <button
                type="submit"
                class="btn-save"
            >
                ثبت آرایشگر
            </button>

            <a
                href="{% url 'superadmin_barbers' %}"
                class="btn-cancel"
            >
                انصراف
            </a>

        </div>

    </form>

</div>


</div>

{% endblock %}
