{% extends "superadmin_panel/base.html" %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}

<div class="page-header">

    <h2>تغییر رمز عبور</h2>

</div>


<div class="form-container">

    <form method="POST">

        {% csrf_token %}

        <div class="form-group">

            <label>
                رمز عبور فعلی
            </label>

            {{ form.old_password }}

            {{ form.old_password.errors }}

        </div>


        <div class="form-group">

            <label>
                رمز عبور جدید
            </label>

            {{ form.new_password1 }}

            {{ form.new_password1.errors }}

        </div>


        <div class="form-group">

            <label>
                تکرار رمز عبور جدید
            </label>

            {{ form.new_password2 }}

            {{ form.new_password2.errors }}

        </div>


        <div class="form-actions">

            <button class="save-btn" type="submit">

                ذخیره تغییرات

            </button>


            <a href="{% url 'superadmin_settings' %}" class="cancel-btn">

                بازگشت

            </a>

        </div>

    </form>

</div>

{% endblock %}