*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background:

        radial-gradient(circle at top right,
        rgba(201,162,39,.08) 0%,
        transparent 35%),

        radial-gradient(circle at bottom left,
        rgba(177,139,103,.06) 0%,
        transparent 35%),

        url("../images/background.webp"),

        linear-gradient(#fcfcfc,#f7f7f7);

    background-size:
        auto,
        auto,
        cover,
        auto;

    background-position:
        top right,
        bottom left,
        center,
        center;

    background-attachment:
        scroll,
        scroll,
        fixed,
        scroll;

    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;

    color: var(--text-color);

    font-family: Tahoma,sans-serif;

    min-height:100vh;

}
.header-actions{

    display:flex;

    align-items:center;

    gap:14px;

}

.header-favorite{

    color:#d62828;

    font-size:26px;

    text-decoration:none;

    transition:.3s;

}

.header-favorite:hover{

    color:#ff4d4d;

    transform:scale(1.15);

}
.messages-container{

    width:100%;

    display:flex;

    justify-content:center;

    margin-top:170px;

    position:relative;

    z-index:999;

}

.alert{
    padding:14px 20px;
    border-radius:12px;
    font-size:15px;
    font-weight:bold;
    margin-bottom:15px;
    animation:fade 0.3s;
}

.alert-success{
    background:#27ae60;
    color:#fff;
}

.alert-error{
    background:#c0392b;
    color:#fff;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}