{% extends "core/base.html" %}
{% load static %}
{% load price_filters %}


{% block title %}
پرداخت دوره
{% endblock %}


{% block content %}


<section class="course-payment-page">

    <div class="payment-card">


        <h1>
            پرداخت دوره
        </h1>


        <div class="course-payment-info">

            {% if course.image %}

            <img
                src="{{ course.image.url }}"
                alt="{{ course.title }}"
            >

            {% endif %}


            <h2>
                {{ course.title }}
            </h2>


            <p>
                مبلغ دوره:
            </p>


            {% if discount_amount > 0 %}

                <del>
                    {{ base_price|price_format }}
                    تومان
                </del>

                <span>
                    {{ final_price|price_format }}
                    تومان
                </span>

            {% else %}

                <span>
                    {{ final_price|price_format }}
                    تومان
                </span>

            {% endif %}

        </div>


        <!-- ========================================= -->
        <!-- کد تخفیف -->
        <!-- ========================================= -->

        <div class="course-discount-box">

            <form method="POST">

                {% csrf_token %}

                <input
                    type="text"
                    name="discount_code"
                    placeholder="کد تخفیف"
                    value="{{ discount_code|default:'' }}"
                    autocomplete="off"
                >

                <button type="submit">
                    اعمال
                </button>

            </form>


            {% if discount_error %}

                <div class="discount-error">
                    {{ discount_error }}
                </div>

            {% endif %}


            {% if discount_success %}

                <div class="discount-success">
                    {{ discount_success }}
                </div>

            {% endif %}

        </div>


        <div class="payment-warning">

            این صفحه پرداخت آزمایشی است.
            بعد از اتصال درگاه، پرداخت واقعی انجام خواهد شد.

        </div>



        <a
            href="{% url 'course_payment_success' course.id %}"
            class="payment-btn"
        >
            پرداخت 
        </a>


    </div>


</section>


{% load static %}

<link
    rel="stylesheet"
    href="{% static 'css/course_payment.css' %}"
>

{% endblock %}