{% extends "core/base.html" %}

{% block title %}
حریم خصوصی
{% endblock %}


{% block content %}

<section class="rules-page">

    <div class="rules-container">

        <div class="rules-card">

            <h1>
                حریم خصوصی
            </h1>


            <h2>
                جمع‌آوری اطلاعات کاربران
            </h2>

            <p>
                محموعه احمد داستانپور برای ارائه بهتر خدمات، اطلاعاتی مانند نام و نام خانوادگی،
                شماره تماس، آدرس، اطلاعات سفارش‌ها، رزروها و دوره‌های ثبت‌نام شده را دریافت می‌کند.
                این اطلاعات تنها برای ارائه خدمات بهتر و ارتباط با کاربران استفاده خواهد شد.
            </p>


            <h2>
                نحوه استفاده از اطلاعات
            </h2>

            <p>
                اطلاعات کاربران برای ثبت سفارش، مدیریت رزروها، فعال‌سازی دوره‌های آموزشی،
                پشتیبانی و اطلاع‌رسانی‌های مربوط به خدمات مجموعه استفاده می‌شود.
            </p>


            <h2>
                حفاظت از اطلاعات کاربران
            </h2>

            <p>
                مجموعه احمد داستانپور تلاش می‌کند اطلاعات کاربران را به صورت امن نگهداری کند
                و از دسترسی غیرمجاز به اطلاعات جلوگیری نماید.
            </p>


            <h2>
                عدم انتشار اطلاعات
            </h2>

            <p>
                اطلاعات شخصی کاربران بدون رضایت آن‌ها در اختیار افراد یا مجموعه‌های دیگر قرار
                نخواهد گرفت؛ مگر در مواردی که طبق قوانین و مقررات کشور نیاز به ارائه اطلاعات باشد.
            </p>


            <h2>
                حساب کاربری
            </h2>

            <p>
                کاربران موظف هستند اطلاعات صحیح وارد کرده و مسئولیت حفظ رمز عبور حساب کاربری
                خود را بر عهده داشته باشند.
            </p>


            <h2>
                تغییرات در قوانین حریم خصوصی
            </h2>

            <p>
                مجموعه می‌تواند در صورت نیاز این سیاست‌ها را به‌روزرسانی کند.
                نسخه جدید پس از انتشار در سایت معتبر خواهد بود.
            </p>


            <h2>
                ارتباط با ما
            </h2>

            <p>
                در صورت وجود هرگونه سؤال درباره نحوه استفاده از اطلاعات،
                کاربران می‌توانند از طریق صفحه تماس با ما با مجموعه در ارتباط باشند.
            </p>


        </div>

    </div>

</section>

{% endblock %}